<div class="login-page">
  <div class="form">
    {{#if sessionFlash.message}}
    <div class="alert alert-{{ sessionFlash.type }}">
        {{ sessionFlash.message }}
    </div>
  {{/if}}
 
    <form action="/user/signin" method="post">

      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" value="" class="form-control" required>
      </div>

      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" value="" class="form-control" required>
      </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
  <span>Don't have a account? Click <a href="/user/signup">here</a> to sign up!</span>
  <span><a href="/user/forgotpwd">Forgot password?</a></span>
  </div>

</div>